# OpenSiv3D Libraries
CrafterraTest-macOS/include
CrafterraTest-macOS/lib
# OpenSiv3D Executables
CrafterraTest-macOS/App/*

# OpenSiv3D Executables
!CrafterraTest-macOS/App/Settings.tsv

# XCode Setting Files
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcuserdata/
